<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<meta viewport="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Berlioz Debug Page</title>

<script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' ></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' ></script>
<script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' ></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

<link rel="stylesheet" href="/berlioz_public/css/styles.css">
<link rel="stylesheet" href="/berlioz_public/css/json.css">
<style>

</style>
