<div class="card code">
    <div class="card-header">
        Cluster <strong><%= cluster %></strong> Service <strong><%= service %></strong> Raw Metadata
    </div>
    <div class="card-body">
        <%- metadataHtml %>
    </div>
</div>
